.App {
  text-align: center;
}
body{
  background-color: #e9ecef;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.detailCardTitle{
  text-align: right;
  margin-bottom: 0;
}
.smallText{
  font-size:.75em;
  font-weight: 100;
}
/* Mountain detail progress bars */
.bg-progress{
  background-color: #f2cc8f;
  color:black;
}

.progress-bar{
  overflow: visible !important;
  text-align: left;
}